* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #010a01;
  color: #fff;
  /* font-family: "Londrina Outline", cursive; */
}

.num-container {
  display: grid;
  /* justify-content: center;
  align-content: center; */
  /* margin: auto; */
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  grid-template-rows: repeat(4, auto);
  width: auto;
  grid-gap: 25px;
}

#main {
  border: 0.2rem solid #fff;
  box-shadow: 0 0 17px 3px #fe01b1, 0 0 4px 2px #fe01b1;
  border-radius: 50px;
  margin: 20px auto;
  width: 30%;
  height: fit-content;
}

.box {
  /* border: 0.2rem solid #fff; */
  /* box-shadow: 0 0 17px 3px #fe01b1, 0 0 4px 2px #fe01b1; */
  /* box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem #bc13fe,
    0 0 0.7rem #bc13fe, 0 0 0.8rem #bc13fe, inset 0 0 0.3rem #bc13fe; */

  /* width: 30%; */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-radius: 5px;
}

.equals {
  padding: 30px 20px 10px 20px;
  margin: auto;
  width: 64%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* text-align: center; */
}

button {
  padding: 12px 0;
  width: 60px;
  height: 50px;
  border: none;
  border-radius: 15px;
  background-color: black;
  font-size: 18px;
  color: #fff;
  text-shadow:
    /* White glow */ 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    /* Green glow */ 0 0 42px rgb(0, 153, 255), 0 0 82px rgb(0, 153, 255),
    0 0 92px rgb(0, 153, 255), 0 0 102px rgb(0, 153, 255),
    0 0 151px rgb(0, 153, 255);
}

.num {
  /* align-items: center;
  justify-items: center; */
  text-align: center;
  width: min-content;
  margin: 0;
  border-radius: 15px;
  border: 0.2rem solid #fff;
  box-shadow: 0 0 17px 3px #04d9ff, 0 0 4px 2px #04d9ff;
}

.equals button {
  /* padding: 0 50%; */
  width: 80%;
}

.equals .num {
  width: 80%;
  text-align: center;
  border-radius: 10px;
  margin: 0 15px;
}

#top {
  width: 45%;
  margin: 20px auto;
  text-align: left;
}

.inp-box {
  border: 0.2rem solid #fff;
  box-shadow: 0 0 17px 3px #04d9ff, 0 0 4px 2px #04d9ff;
  border-radius: 18px !important;
  width: 75%;
  height: 90px;
  margin: 30px auto 20px auto;
  padding: 20px;
  font-size: 18px;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  border-radius: 5px;
}

.img {
  height: 70px;
  width: 100px;
}

img {
  transform: translate(75px, -50px);
  margin: auto;
}
