* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #010a01;
  color: #fff;
}

.num-container {
  display: grid;
  /* justify-content: center;
  align-content: center; */
  /* margin: auto; */
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  grid-template-rows: repeat(4, auto);
  width: auto;
  grid-gap: 30px;
}

.box {
  border: 0.2rem solid #fff;
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem #bc13fe,
    0 0 0.7rem #bc13fe, 0 0 0.8rem #bc13fe, inset 0 0 0.3rem #bc13fe;
  width: 43%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.equals {
  padding: 30px 20px 10px 20px;
  margin: auto;
  width: 98%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* text-align: center; */
}

button {
  padding: 12px 0;
  width: 100px;
  border: none;
  background-color: black;
  font-size: 18px;
  color: #fff;
  text-shadow:
    /* White glow */ 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    /* Green glow */ 0 0 42px rgb(0, 153, 255), 0 0 82px rgb(0, 153, 255),
    0 0 92px rgb(0, 153, 255), 0 0 102px rgb(0, 153, 255),
    0 0 151px rgb(0, 153, 255);
}

.num-container .num {
  /* align-items: center;
  justify-items: center; */
  text-align: center;
  width: min-content;
  margin: 0;
  border: 0.2rem solid #fff;
  /* box-shadow: 120px 80px 40px 20px #0ff; */
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem rgb(208, 255, 0),
    0 0 0.2rem rgb(208, 255, 0), 0 0 0.7rem rgb(208, 255, 0),
    inset 0 0 0.2rem rgb(208, 255, 0);
}

.red {
  /* border: none; */
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem rgb(255, 60, 0),
    0 0 0.2rem rgb(255, 60, 0), 0 0 0.7rem rgb(255, 60, 0),
    inset 0 0 0.2rem rgb(255, 60, 0) !important;
}

.equals button {
  /* padding: 0 50%; */
  width: 95%;
  border: 0.2rem solid #fff;
}

.grn button {
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem #0fa, 0 0 0.2rem #0fa,
    0 0 0.7rem #0fa, inset 0 0 0.2rem #0fa !important;
}

.rd button {
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem rgb(255, 60, 0),
    0 0 0.2rem rgb(255, 60, 0), 0 0 0.7rem rgb(255, 60, 0),
    inset 0 0 0.2rem rgb(255, 60, 0) !important;
}

.equals .num {
  width: 100%;
  text-align: center;
}

#top {
  width: 45%;
  margin: 20px auto;
  text-align: left;
}

.inp-box {
  border: 0.2rem solid #fff;
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem #bc13fe,
    0 0 0.7rem #bc13fe, 0 0 0.8rem #bc13fe, inset 0 0 0.3rem #bc13fe;
  width: 43%;
  height: 70px;
  margin: 30px auto;
  padding: 20px;
  font-size: 18px;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(0, 119, 255), 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa,
    0 0 151px #0fa;
}

/* .oper {
  border: 0.2rem solid #fff;
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem rgb(0, 119, 255),
    0 0 0.7rem rgb(0, 119, 255), 0 0 0.8rem rgb(0, 119, 255),
    inset 0 0 0.3rem rgb(0, 119, 255) !important;
} */
